%h1 Listing orders

%table.table.table-striped
  %thead
    %tr
      %th Number of order
      %th Customer
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= Customer.find(order.customer_id).email
        %td= link_to 'Show', order
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path,  class: 'btn btn-primary'
