%h1 New order



%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th
      %th
      %th

  %tbody
    - @products = Product.all
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
%br
= render 'form'
= link_to 'Back', root_path
